* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding: 0 px;
    width: 100%;
    font-family: "Lato", sans-serif;
}

.colour {
    margin: 0px;
    background-color: #F0ECF9;
    height: 500px;
    padding-left: 180px;
    padding-right: 180px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

span {
    color: #7823BB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 15px;
    font-weight: 550;
    line-height: normal;
    /* justify-content: center; */
}

.navbar {
    display: flex;
    /* align-items: flex-start; Remove or adjust alignment */
    gap: 30px;
    /* margin-left: 600px; */
}

.navbar a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
}


/* .navbar a:hover {
    cursor: pointer;
    font-weight: 900;
    font-size: 26px;
} */

#Covid-19_Awareness {
    color: #7823BB;
    /* text-align: justify; */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 15px;
}

h1 {
    color: #7823BB;
    margin-bottom: 20px;
    font-style: normal;
    font-size: 50px;
    /* font-weight: 900; */
}

.dummy-txt {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.49);
    margin-bottom: 20px;
}

.btn {
    margin-top: 10 px;
    color: white;
    background-color: #870AEA;
    padding: 10px 20px;
    /* font-weight: bold; */
    width: auto;
    height: auto;
    align-content: center;
    border-radius: 20px;
    text-transform: uppercase;
    border-style: none;
    box-shadow: 0px 4px 10px 0px rgb(150, 116, 154);
}

.btn:hover {}

.image-1 {
    position: absolute;
    right: 110px;
    top: 90px;
    height: 400px;
    width: 500px;
}

.stastics {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-left: 180px;
    padding-right: 180px;
}

h3 {
    color: #7823BB;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.stastics>p {
    text-align: center;
}

.cases {
    margin-top: 20px;
    display: flex;
    /* align-content: center; */
    justify-content: space-between;
    text-align: center;
}

.case {
    flex: 1;
    /* padding: 10px; */
}

.case img {
    width: 40px;
    height: 40px;
}

.case p {
    margin: 8px 0;
}

.number {
    font-size: 20px;
    font-weight: bold;
}

.case-txt {
    margin-top: 6px;
    font-size: 10px;
}

.about {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
}

.about-1 {
    display: flex;
    flex-direction: row;
    /* padding-left: 200px; */
    padding-bottom: 60px;
}

.about-1 img {
    width: 467px;
    height: 332px;
    transition: border-radius 2s;
}

.about-1 img:hover {
    width: 480px;
    height: 350px;
    border-radius: 50%;
}

.about-one {
    padding-left: 30px;
    padding-top: 10px;
    width: 550px;
    height: 300px;
    margin: 10px;
}

#corona {
    color: #7823BB;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

#coro-para {
    color: rgba(0, 0, 0, 0.69);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.about-2 {
    display: flex;
    flex-direction: row-reverse;
    /* padding-right: 200px; */
    padding-left: 0px;
}

.about-2 img {
    width: 467px;
    height: 320px;
    transition: border-radius 2s;
}

.about-2 img:hover {
    border-radius: 50%;
}

.about-two {
    padding-top: 10px;
    width: 550px;
    height: 300px;
    margin: 10px;
    margin-right: 30px;
}

#corona-1 {
    color: #7823BB;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

#coro-para-1 {
    color: rgba(0, 0, 0, 0.69);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.point {
    display: flex;
    margin: 10;
    align-items: center;
    margin-bottom: 10px;
}

.point svg {
    margin-right: 10px;
    align-content: center;
    color: rgba(0, 0, 0, 0.69);
}

.knowledge {
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 180px;
    padding-right: 180px;
}

.knows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
}

.kh {
    font-size: 20px;
    font-weight: bold;
    color: #870AEA;
}

.prevent {
    display: flex;
    flex-direction: row;
    padding-left: 180px;
    padding-right: 180px;
    background-color: #F0ECF9;
    height: 800px;
}

.prev-1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px 0px;
}

.home1 {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.home2 {
    display: flex;
    flex-direction: column;
}

.home {
    width: 180px;
    margin: 20px;
    box-shadow: 0px 4px 10px 0px rgba(113, 113, 113, 0.25);
}

.col {
    background-color: #F7DFFB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-1 .Stay {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    padding: 10px 15px;
}

.Stay p {
    padding-bottom: 10px;
}

.prev-2 {
    margin-top: 100px;
    width: 100px;
}

.protect {
    padding-left: 180px;
    padding-right: 180px;
}

.prot {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}

h2 {
    color: #7823BB;
    font-size: 26px;
    width: auto;
    margin-bottom: 10px;
}

.tect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

.do {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.do>p {
    color: #7823BB;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.points {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.corect {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.corect img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.Ndo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 70px;
}

.Ndo>p {
    color: #7823BB;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.wrong {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.wrong img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.symptoms {
    background-color: #F0ECF9;
    height: 750px;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 1px;
}

.prot p {
    text-align: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 156px;
    background-color: white;
    margin: 70px 100px 50px 100px;
}

.text {
    width: 210px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calling {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    padding: 0px 140px 0px 100px;
}

strong {
    color: #870AEA;
}

.article {
    display: flex;
    padding: 0px 180px;
    flex-direction: column;
    height: 550px;
}

.newss {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.news {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.news img {
    width: 330px;
    height: 200px;
    transition: width 2s, height 2s;
}

.news img:hover {
    width: 350px;
    height: 240px;
}

.news p {
    color: #7823BB;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}

.news-btn {
    display: flex;
    width: 150px;
    height: 40px;
    background-color: #870AEA;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: -20px;
}

text {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 300;
}

.last {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F0ECF9;
    height: 330px;
    padding: 0px 100px;
}

.abot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
    margin-top: 60px;
    height: 150px;
}

.abt {
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 140px;
}

.image svg {
    width: 30px;
    height: 30px;
    /* transform: width 2s, height 2s, transition 2s; */
}

.image svg:hover {
    /* width: 50px;
    height: 50px;
    transition: ease-out; */
    opacity: 60%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 60px;
    height: 150px;
}

.links>p {
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}

.link-txt a {
    display: block;
    text-decoration: none;
    color: #7823BB;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}